main.container(role='main')
  .row
    .col-md-8.blog-main
      img.image-seances(src="../images/seance-placeholder-3.jpg")
      h1.mt-3 Conseil d’administration
      p Il est constitué des membres du bureau, des deux derniers présidents et de membres élus en assemblée générale.
      h2 Les membres du bureau
      ul
        li Président, Charles Gheorghiev
        li Vice président, Cyril Hazif Thomas
        li Secrétaire général, Yann Auxemery
        li Trésorier, Raphaël Gourevitch
        li Secrétaires de séance,  Michel Caire et Denis Tiberghien
      h2 Les deux derniers présidents
      p Isabelle Jalenques et Marc Schweitzer.
      h2 Membres élus
      p Pierre Chenivesse, Thierry Haustgen, Paul Houillon, Jean-Pierre Luauté, Jean-Arthur Micoulaud-Franchi, Olivier Saladini, Anne Laure Sutter, François Petitjean.
      h2 Annales Médico Psychologiques
