main.container(role='main')
  .row
    .col-md-8.blog-main
      img.image-seances(src="../images/seance-placeholder-3.jpg")
      h1.mt-3 Conseil d’administration
      p Il est constitué des membres du bureau, des deux derniers présidents et de membres élus en assemblée générale.
      h2 Les membres du bureau
      p Sylvie Vermeersch, présidente, Marc Schweitzer  vice-président, François Petitjean, secrétaire général, Raphaël Gourevitch, trésorier, Cyril Hazif-Thomas et Heloïse Haliday  secrétaires de séance. Aimé Charles-Nicolas, rédacteur en chef.
      h2 Les deux derniers présidents
      p Marc Masson et Laurent Schmitt
      h2 Membres élus
      p Marc Bourgeois, Pierre Chenivesse, Pierrette Estingoy, Jean Garrabé, Thierry Haustgen, Paul Houillon, Isabelle Jalenques, Jean-Pierre Luauté et Jean-Arthur Micoulaud-Franchi.
