main.container(role='main')
  .row
    .col-md-8.blog-main
      img.image-seances(src="../images/seance-placeholder-2.jpg")
      h1.mt-3 Conseil d’administration
      p Il est constitué des membres du bureau, des deux derniers présidents et de membres élus en assemblée générale.
      h2 Les membres du bureau
      p Marc Masson, président, Laurent Schmitt, vice-président, Sylvie Vermeersch, secrétaire générale, Raphaël Gourevitch, trésorier, Cyril Hazif-Thomas et Marc Schweitzer, secrétaires de séance et Aimé Charles-Nicolas, rédacteur en chef.
      h2 Les deux derniers présidents
      p Jean-Marie Vanelle et François Petitjean
      h2 Membres élus
      p Marc Bourgeois, Pierre Chenivesse, Pierrette Estingoy, Jean Garrabé, Thierry Haustgen, Paul Houillon, Isabelle Jalenques, Jean-Pierre Luauté et Jean-Arthur Micoulaud-Franchi.
