main.container(role='main')
  .row
    .col-md-8.blog-main
      img.image-seances(src="../images/seance-placeholder-3.jpg")
      h1.mt-3 Conseil d’administration
      p Il est constitué des membres du bureau, des deux derniers présidents et de membres élus en assemblée générale.
      h2 Les membres du bureau
      ul
        li Présidente, Isabelle Jalenques
        li Vice présidente, Pierrette Estingoy
        li Secrétaire général, François Petitjean 
        li Trésorier, Raphaël Gourevitch
        li Secrétaires de séance, Cyril Hazif-thomas et Michel Caire
      h2 Les deux derniers présidents
      p Laurent Schmitt et Marc Schweitzer.
      h2 Membres élus
      p Yann Auxéméry, Pierre Chenivesse, Pierrette Estingoy, Thierry Haustgen, Paul Houillon, Jean-Pierre Luauté, Jean-Arthur Micoulaud-Franchi, Olivier Saladini, Anne Laure Sutter.
      h2 Annales Médico Psychologiques
      p Aimé Charles Nicolas.
