main.container(role='main')
  .row
    .col-md-8.blog-main
      img.image-seances(src="../images/seance-placeholder-3.jpg")
      h1.mt-3 Conseil d’administration
      p Il est constitué des membres du bureau, des deux derniers présidents et de membres élus en assemblée générale.
      h2 Les membres du bureau
      p Marc Schweitzer, président, Isabelle Jalenques, vice présidente, François Petitjean, secrétaire général, Raphaël Gourevitch, trésorier, Cyril Hazif-Thomas, secrétaire de séance.
      h2 Les deux derniers présidents
      p Laurent Schmitt et Sylvie Vermeersch.
      h2 Membres élus
      p Yann Auxéméry, Pierre Chenivesse, Pierrette Estingoy, Thierry Haustgen, Paul Houillon, Jean-Pierre Luauté, Jean-Arthur Micoulaud-Franchi, Olivier Saladini, Anne Laure Sutter.
      h2 Annales Médico Psychologiques
      p Aimé Charles Nicolas.
