main.container(role='main')
  .row
    .col-md-8.blog-main
      h1.mt-3 Nous contacter
      p Pour tout renseignement, s'adresser au secrétariat : Mme Jacqueline Parant 
      p 14/16, avenue R. Schuman - 92100 - Boulogne-Billancourt 
      p Courriel : 
        a(href="mailto:j.parant@smp.asso.fr") j.parant@smp.asso.fr
