main.container(role='main')
  .row
    .col-md-8.blog-main
      img.image-seances(src="../images/seance-placeholder-2.jpg")
      h1.mt-3 Nous contacter
      p Pour tout renseignement, s'adresser au secrétariat : Mme Jacqueline Parant (
        a(href="mailto:j.parant@smp.asso.fr") j.parant@smp.asso.fr
        | ). 14/16, avenue R. Schuman - 92100 - Boulogne-Billancourt        
