main.container(role='main')
  .row
    .col-md-8.blog-main
      img.image-seances(src="../images/seance-placeholder-3.jpg")
      h1.mt-3 Nous contacter
      p Pour tout renseignement, s'adresser au secrétariat : Mme Jacqueline Parant (
        a(href="mailto:jacqueline_parant@orange.fr") jacqueline_parant@orange.fr
        | ). 14/16, avenue R. Schuman - 92100 - Boulogne-Billancourt        
