main.container(role='main')
  .row
    .col-md-8.blog-main
      h1.mt-3 Liste des articles du dictionnaire biographique depuis sa création
      p 2004
      ul
        li Paul Garnier (1848-1905) par J. Biéder [1, 99-100]
        li Gérard Marchant (1813-1881) par J. Biéder [2, 169-170]
        li Jules Baillarger (1809-1890) par T. Haustgen [3, 237-239]
        li Jules Falret (1824-1902) par T. Haustgen [4, 317-319]
        li Jacques Lacan (1901-1981) par J. Garrabé [5, 418-419]
        li Alfred Maury (1817-1892) par J. Biéder [6, 523-524]
        li Henri Dagonet (1823-1902) par T. Haustgen [7, 610-612]
        li François-Achille Longet (1811-1871) par J. Biéder [8, 700-701]
        li Philippe Chaslin (1857-1923) par T. Haustgen [9, 770-772]
        li Charles Lasègue (1816-1883) par T. Haustgen [10, 828-831]
      p 2005
      ul
        li Jules Cotard (1840-1889) par J. Garrabé [1, 95-96]
        li Jules Bernard Luys (1828-1897) par J. Biéder [2, 202-205]
        li Eugène Azam par M.L. Bourgeois [3-4, 376-377]
        li Albert Pitres (1848-1928) et Emmanuel Régis (1855-1918) par M.L. Bourgeois [3-4, 376-378] 
        li Étienne Esquirol (1772-1840) par T. Haustgen [6, 543-547]
        li Maurice de Fleury (1860-1931) par J. Biéder [7, 618-622]
        li Hervey de Saint-Denys (1822-1892) par J. Garrabé [8, 716-717]
        li Étienne Georget (1795-1828) par T. Haustgen [9, 806-808]
        li François-Léon Arnaud (1858-1927) par J. Biéder [10, 909-911]
      p 2006
      ul
        li Jules Falret (1794-1870) par Th. Haustgen [1, 85-91]
        li Maurice Klippel (1858-1942) par J. Biéder [2, 176-179]
        li Ulysse Trélat (1795-1879) par Th. Haustgen [3, 268-275]
        li Hippolyte Bernheim (1840-1919) par M. Laxenaire [4, 366-369]
        li Hermann Simon (1867-1947) par J. Biéder [5, 451-453]
        li Henri Legrand du Saulle (1830-1886) par Th. Haustgen [7, 625-629]
        li François Leuret (1797-1851) par Th. Haustgen [9, 789-798]
        li Henri-Frédéric Ellenberger (1905-1993) par J. Garrabé [10, 877-880]
      p 2007
      ul
        li Henri Ey (1900-1977) par J. Garrabé [1, 74-77]
        li Pierre-Nicolas Gerdy (1797-1856) par J. Biéder [2, 141-145] 
        li Joseph Rogues de Fursac (1872-1942) par J. Biéder [3, 225-229]
        li Étienne Pariset (1770-1847) par M. Laxenaire [4, 302-304]
        li Raoul Leroy (1869-1941) par J. Biéder [8, 608-615]
        li K. L. Kahlbaum (1828-1899) par T. Haustgen [9, 692-699]
      p 2008
      ul
        li Nicolas Vaschide (1874-1907) par J. Biéder [1, 71-76]
        li Pierre Marie Félix Janet (1859-1947) par J. Garrabé [3, 246-249]
        li L. F. Lé1ut (1804-1877) par T. Haustgen [5,
        li Louis Delasiauve (1804-1893) par T. Haustgen [6,
        li Madeleine Pelletier  (1874- 1939) par J. Biéder [7, 595-598]
      p 2009
      ul
        li Philippe Pinel (1745–1826) par J. Garrabé [1, 93–98]
        li Philippe Pinel (1745–1826) par J. Garrabé [2, 167–170]
        li Auguste Ambroise Tardieu (1818–1879) par M. Bénézech, J. Biéder [3, 243–249]
        li Antoine Ritti (1844–1920) par M.-L. Bourgeois [4, 318–320]
        li André-Michel Guerry (1802–1866) par J. Biéder [5, 404–406]
      p 2010
      ul
        li Augustin Jacob Landré-Beauvais (1772–1840) par J. Garrabé [1, 84–90]
        li Louis-Victor Marcé (1828–1864) par T. Lempérière, J.-P. Luauté, J. Garrabé [2, 170–178]
        li Jules Christian (1840–1907) par J. Biéder [3, 250–254]
        li Emil Kraepelin (1856–1926) – I. L’homme en son temps, par Haustgen T., Sinzelle J. [8, 645–648]
        li Emil Kraepelin (1856–1926) – II. Le Traité, par Haustgen T., Sinzelle J. [9, 716–719]
        li Emil Kraepelin (1856–1926) – III. Les grandes entités cliniques par Haustgen T., Sinzelle J. [10, 792]
      p 2011
      ul
        li Emil Kraepelin (1856–1926), par T. Haustgen et J. Sinzelle [9, 606–611]
        li Emil Kraepelin (1856–1926) – 5. La renaissance, par T. Haustgen et J. Sinzelle [10, 690]
        li Eugène Billod (1818–1886), par J. Biéder [5, 332–336]
        li Marie Charles Joseph Bra (1854–1912), par D. Tiberghien [8, 536–539]
      p 2012
      ul
        li Gaëtan Gatian de Clérambault (1872–1934), I. Sa vie et son œuvre, par S. Gumper et T. Haustgen [3, 224–230]
        li Gaëtan Gatian de Clérambault (1872–1934), II. Son héritage psychiatrique, par T. Haustgen et S. Gumper [5, 358–363]
        li Philippe Chaslin (1857–1923). À propos du centenaire des Éléments de sémiologie et de la discordance (1912), par T. Haustgen [8, 601–608]
        li Antiphon d’Athènes (480–411 av. J.-C.) : le psychothérapeute du siècle de Périclès, par M.-L. Bourgeois [9, 674–676]
        li Joseph Capgras (1873–1950). Sa vie, son œuvre, par J.-P. Luauté [10, 748–756]
      p 2013
      ul
        li Joseph Lévy-Valensi (1879–1943), par J. Garrabé [1, 54–57]
        li Adolphe Courtois (1903–1935) : un bio-psychiatre, par D. Tiberghien [2, 128–133]
      p 2014
      ul
        li Paul Sérieux (1864-1947), clinicien, historien et réformateur de l’hôpital psychiatrique, par Thierry Haustgen, [9, p. 785-793].
      p 2015
      ul
        li Wilhelm Griesinger (1817-1868), somatiker et figure majeure de la psychiatrie allemande (Marc Géraud [1, p. 113-116])
        li Guillaume Duchenne de Boulogne (1806-1875) (Marc Louis Bourgeois [3, 294-295]
        li Charles-Louis Trepsat (1879-1929) : Un psycho-analyste de la première heure et médecin à la maison de santé de Rueil-Malmaison (Denis Tiberghien) [6, p. 553-561]
        li Franz Brentano (1838-1917), philosophe et psychologue, inspirateur de Freud, Husserl, Heidegger, Meinong (Marc Louis Bourgeois, Arlette Joli, Bernard Basteau, Bernard Antoniol) [7, p. 637-638]
        li Constance Pascal (1877-1937), première femme psychiatre et médecin-chef des hôpitaux psychiatriques en France (Marc Louis Bourgeois) [9, p. 815-816]
        li Montalto Philoteus Elianus (1557–1616) (Jean Garrabé, Germàn Berrios) [10, p. 892-899
      p 2016
      ul
        li Claude-François Michéa (1815-1882) (Partie I) (Jean Garrabé, Jean-Pierre Luauté) [1, 77-80]
        li Claude-François Michéa (1815-1882) - Partie II (Jean Garrabé, Jean-Pierre Luauté) [2, 148-154]
        li André Antheaume (1867–1927) (Partie I) : Sa vie et ses travaux, de Provins jusqu’à sa démission de son poste de médecin titulaire de la Maison nationale de Charenton (Denis Tiberghien) [3, 216-225]
        li Robert L. Spitzer (1932-2015) (Marc Bourgeois) [5, 410-411]
        li Jacques Étienne Belhomme (1800-1880). Pionnier de la pédopsychiatrie et aliéniste oublié. Partie 1 (Olivier Walusinski, Denis Tiberghien) [7, 615-623]
        li Jacques Étienne Belhomme (1800-1880). Pionnier de la pédopsychiatrie et aliéniste oublié. Partie 2 (Olivier Walusinski, Denis Tiberghien) [8, 714-721]
        li Jacques Dubois d’Amiens (Sylvius, 1478-1555) (Marc L. Bourgeois) [9, 805-806]
        li Gilbert Ballet (1853-1916) ou les débuts de la psychiatrie universitaire en France (à propos du centenaire de sa mort) (Thierry Haustgen) [10, 871-880]
      p 2017
      ul
        li Maximien Parchappe (1800-1866), héros de l’anatomo-pathologie de la folie et bâtisseur d’asiles. (Olivier Walusinski) [1, 86-93]
        li André Antheaume (1867–1927) (partie II). Médecin-directeur du « Sanatorium La Malmaison » et ses campagnes dans l’Informateur des aliénistes et des neurologistes. (Olivier Walusinski) [2, 187-198]
        li Des disciples méconnus de Jean-Étienne Esquirol : Jean-Baptiste Delaye (1789-1878), André-Pamphile Rech (1793-1853), Antoine-Marie Chambeyron (1797-1851). (Olivier Walusinski) [3, 304-309]
        li Paul Delmas Marsalet (1898-1977) (Marc L. Bourgeois) [7, 674-675]
      p 2018
      ul
        li Pierre Schützenberger (1888-1973) : un aliéniste, expert dans l’affaire des sœurs Papin (Partie I) (Denis Tiberghien) [1, 103-114]
        li Pierre Schützenberger (1888-1973) : un aliéniste, expert dans l’affaire des sœurs Papin (Partie II) (Denis Tiberghien) [3, 310-323]
        li Jules-Étienne Mitivié (1796-1871) (Olivier Walusinski) [6, 620-626]
        li Félix Pinel-Grandchamp (1798-1851), un élève d’Esquirol devenu chirurgien et accoucheur (Olivier Walusinski) [8, 837-842]
      p 2019
      ul
        li Donatien Raffegeau (1855-1931), fondateur de la clinique « La Villa des Pages » au Vésinet ; ses collaborateurs et successeurs : B.-A. Casalis, H. Leulier, P.-M. Leulier, R. Leulier et H. Mignon (Denis Tiberghien) [1, 85-100] 
        li Guiraud Paul-Louis-Émile (Jean Garrabé) [2, 191-198] 
        li Louis-René Semelaigne (1855-1934) (Jean Garrabé) [6] 
        li Leo Kanner (1894-1981), une vie, une œuvre (Gwénola Druel) [7]
      p 2020
      ul 
        li Paul Cololian (1869-1956) : Membre de la Société Médico-Psychologique (1902) et fondateur de l’Union des Médecins Arméniens de Paris (1920) et de la Croix-Rouge Arménienne de Paris (1922) (Partie I) (Denis Tiberghien) [1, 81-94] 
        li Paul Cololian (1869-1956) : Membre de la Société Médico-Psychologique (1902) et fondateur de l’Union des Médecins Arméniens de Paris (1920) et de la Croix-Rouge Arménienne de Paris (1922) (Partie II) (Denis Tiberghien) [2, 207-214] 
        li Claire Mugnier-Popp-Vogt (1898-1978). Une neuropsychiatre infantile injustement oubliée (Jacques Poirier, Patricia Poirier) [3, 318-323]
        li Gustave Étoc-Demazy (1806-1893) : l’aliéniste manceau élève de Guillaume Ferrus (Olivier Walusinski) [10, 1016-1021]
