main.container(role='main')
  .row
    .col-md-8.blog-main
      img.image-seances(src="../images/seance-placeholder-3.jpg")
      h1.mt-3 Histoire
      p Les Annales Médico Psychologiques publient depuis 2004 des biographies de figures de l’histoire de la psychiatrie, dans le cadre d’un 
        a(href="dictionnaire-biographique" title="Dictionnaire Biographique de la SMP") dictionnaire biographique
        | .
      p On trouvera ici un lien vers la liste des articles parus dans ce dictionnaire depuis sa création, avec leurs références bibliographiques.
      p Par ailleurs, deux membres de la Société médico psychologiques ont créé des sites consacrés à l’histoire de la psychiatrie et des neurosciences ;
      p Il s’agit du Docteur Michel Caire : 
        a(href="http://psychiatrie.histoire.free.fr/" target="_blank" rel="noopener") http://psychiatrie.histoire.free.fr/
        | , et du docteur Olivier Walusinski : 
        a(href="http://www.baillement.com/" target="_blank" rel="noopener") http://www.baillement.com/
        |  et 
        a(href="http://www.yawning.info/" target="_blank" rel="noopener") http://www.yawning.info/
        | .
      p Une liste des ouvrages d’Olivier Walusinski figure sur le site : 
        a(href="http://www.oscitatio.com/" target="_blank" rel="noopener") http://www.oscitatio.com/
        | .
