main.container(role='main')
  .row
    .col-md-8.blog-main
      h1.mt-3 Conseil d’administration
      p La Société Médico psychologique a la grande tristesse de vous faire part du décès du Dr Jean Garrabé survenu le 13 septembre 2020, dans sa 89e année. Nos très sincère condoléances vont à sa famille et à ses proches.
      p Jean Garrabé fut un acteur majeur de la psychiatrie française de ces cinquante dernières années. Son érudition, sa mémoire, son humanisme étaient incomparables.
      p Nommé interne des hôpitaux psychiatriques de la Seine en 1958, il fut l’élève d’Henri Ey avant de devenir médecin chef à l’Institut Marcel Rivière (MGEN) de 1967 à 1997, où il s’impliqua dans la psychothérapie institutionnelle.
      p Membre actif de très nombreuses sociétés savantes et notamment de la Société Médico-Psychologique, qu’il présida en 2000, il était également membre du comité de rédaction des Annales Médico-Psychologiques.
      p Il a sensibilisé des générations de cliniciens à l’importance de l’histoire de la discipline et rédigé de très nombreux articles dans notre revue.
      p Adepte d’une psychiatrie ouverte sur l’international il avait de nombreux contacts notamment en Amérique du Sud et au Japon. Il présida en 2000 le Comité d’organisation du Congrès du Jubilé à Paris.
      p On trouvera ci-dessous un lien vers un travail de Jean Garrabé sur la mondialisation et la Société Médico-Psychologique, témoignage parmi tant d’autres de ses réflexions sur les enjeux historiques de notre discipline.
      p 
        a(href="../assets/docs/garrabe-mondialisation.pdf" target="_blank" title="la mondisalisation de la psychiatrie et de la Société Medico-Psychologique") Article sur la mondialisation et la Société Médico Psychologique
      p
        strong François PETITJEAN, Secrétaire Général de la SMP
    .col-md-4.blog-main
      img.mt-4.image-seances(src="../images/jean-garrabe.jpg")
