main.container(role='main')
  .row
    .col-md-12.blog-main
      img.image-seances(src="../images/covid-19.jpg")
    .col-md-8
      h1.mt-3 Pandémie COVID-19
      p Voici une liste de liens et documents utiles relatifs à la pandémie COVID-19.
      p Centre d'information COVID-19 Elsevier donnant accès gratuitement aux dernières publications sur le virus en langue française ou anglaise, quotidiennement mis à jour, avec des sous-sections dédiées aux chercheurs, médecins et professionnels de santé : 
        a(href="https://www.elsevier.com/fr-fr/coronavirus-information-center" target="_blank" title="Elsevier, Coronavirus Information Center") rendez-vous ici
        | .
      p Sites d’information régulièrement mis à jour et offrant des informations générales concernant la prise en charge des problèmes psychiatriques et psychosociaux liés au COVID-19 :
      ul 
        li
          a(href="https://www.ascodocpsy.org/covid-19-ressources-documentaires-pour-la-psychiatrie/" target="_blank" title="Ascodocpsy, ressources COVID-19") Le site français Ascodocpsy
        li
          a(href="http://www.psycom.org/" target="_blank" title="Psycom") Le site français Psycom
        li
          a(href="https://www.psychiatry.org/" target="_blank" title="American Psychiatric Association Website") Le site de l'American Psychiatric Association
      p Documents portant sur des aspects cliniques spécifiques ainsi que sur le soutien psychologique aux professionnels de santé :
      ul
        li
          a(href="https://medicopsy.com/assets/docs/covid-19/clozapine-fever.pdf" target="_blank" title="Clinical determinants of fever in clozapine users") Clinical determinants of fever in clozapine users and implications for treatment management: A narrative review
        li
          a(href="https://medicopsy.com/assets/docs/covid-19/fiche-tca.pdf" target="_blank" title="Gérer un trouble des conduites alimentaires (TCA) en situation de confinement") Gérer un trouble des conduites alimentaires (TCA) en situation de confinement
        li
          a(href="https://medicopsy.com/assets/docs/covid-19/guide-pour-les-psychiatres.pdf" target="_blank" title="Prendre soin des patients pendant l'épidémie de coronavirus : Un guide pour les psychiatres") Prendre soin des patients pendant l'épidémie de coronavirus : Un guide pour les psychiatres
        li
          a(href="https://medicopsy.com/assets/docs/covid-19/recommandations-aacap.pdf" target="_blank" title="Que dire aux enfants à propos du Coronavirus (COVID 19) ?") Que dire aux enfants à propos du Coronavirus (COVID 19) ?
        li
          a(href="https://medicopsy.com/assets/docs/covid-19/rythmes-sociaux.pdf" target="_blank" title="Pandémie COVID-19 et bien-être émotionnel") Pandémie COVID-19 et bien-être émotionnel
        li
          a(href="https://www.elsevier.com/fr-fr/connect/psy/sons-troubles-psychiques-pendant-sars-cov-2" target="_blank" title="Soins Troubles psychiques pendant SARS-CoV-2") Soins Troubles psychiques pendant SARS-CoV-2
        li
          a(href="https://medicopsy.com/assets/docs/covid-19/republique-francaise-mesures-covid.pdf" target="_blank" title="Consignes applicables à l’organisation des prises en charge dans les services de psychiatrie") Consignes applicables à l’organisation des prises en charge dans les services de psychiatrie
      p Textes rédigés par des membres de la Société concernant la pandémie et ses conséquences :
        ul
          li
            a(href="https://medicopsy.com/assets/docs/covid-19/lettre-a-lediteur.pdf" target="_blank" title="Lettre à l'éditeur") Une lettre de l'éditeur
          li
            a(href="https://www.espace-ethique-bretagne.fr/wp-content/uploads/2020/03/L%C3%A9thique-%C3%A0-l%C3%A9preuve-dans-la-lutte-1-1.pdf" target="_blank" title="L’éthique à l’épreuve dans la lutte contre le Covid19 ?") L’éthique à l’épreuve dans la lutte contre le Covid19 ?
          li
            a(href="https://medicopsy.com/assets/docs/covid-19/houari-maidi.pdf" target="_blank" title="Lettre à l'éditeur") Houari Maïdi, Le Point
