main.container(role='main')
  .row
    .col-md-12.blog-main
      img.image-seances(src="../images/covid-19.jpg")
    .col-md-8
      h1.mt-3 Pandémie COVID-19
      p Les documents élaborés par l’American Psychiatric Association à l’intention des professionnels de santé. Ce lien renvoie également à une revue de littérature sur les conséquences psychologiques des mesures de quarantaine, parue dans la revue Lancet, ainsi qu’à 
        a(href="https://www.psychiatry.org/news-room/apa-blogs/apa-blog/2020/03/covid-19-mental-health-impacts-resources-for-psychiatrists" target="_blank" title="COVID-19 Mental Health Impacts Resources for Psychiatrists from the APA" rel="noopener") d’autres ressources.
      p Un document rédigé par le Docteur Cyril Hazif-Thomas, Directeur de l’Espace de Réflexion Ethique de Bretagne : 
        a(href="https://www.espace-ethique-bretagne.fr/wp-content/uploads/2020/03/L%C3%A9thique-%C3%A0-l%C3%A9preuve-dans-la-lutte-1-1.pdf" target="_blank" title="L’éthique à l’épreuve dans la lutte contre le Covid19 ?" rel="noopener") L’éthique à l’épreuve dans la lutte contre le Covid19 ?

      
