.container
  header.blog-header.py-3
    .row.flex-nowrap.justify-content-between.align-items-center
      .col-12.text-center
        a.blog-header-logo.text-dark(href='/') Société Médico-Psychologique
  .nav-scroller.py-1.mb-2
    nav.nav.d-flex.justify-content-between
      a.p-2.text-muted(href='/a-propos') A propos
      a.p-2.text-muted(href='/seances') Nos séances
      a.p-2.text-muted(href='') Publications
      a.p-2.text-muted(href='/contact') Contact
