.container
  header.blog-header.py-3
    .row.flex-nowrap.justify-content-between.align-items-center
      .col-12.text-center
        a.blog-header-logo.text-dark(href='/') Société Médico-Psychologique
  .nav-scroller.py-1.mb-2
    nav.nav.d-flex.justify-content-between
      a.p-2.text-muted(href='/' title="Page d'accueil de la SMP") Accueil
      a.p-2.text-info(href='/seances/2022/170-ans-societe-medico-psychologique' title="170 ans de la SMP") 170 ans
      a.p-2.text-muted(href='/pandemie-covid-19' title="Page d'information COVID") COVID-19
      a.p-2.text-muted(href='/a-propos' title="A propos de la SMP") À propos
      a.p-2.text-muted(href='/conseil-administration' title="Conseil d'administration de la SMP") Conseil d'administration
      a.p-2.text-muted(href='/seances/' title="Les séances de la SMP") Nos séances
      a.p-2.text-muted(href='/histoire' title="Histoire de la SMP") Histoire
      a.p-2.text-muted(href='/contact' title="Contactez la SMP") Contact
      a.p-2.text-muted(href='https://www.em-consulte.com/revue/AMEPSY/presentation/annales-medico-psychologiques' target="_blank" rel="noopener") Publications
