.navbar
  margin-bottom: 0
.disabledNav:hover
  text-decoration: line-through
  cursor: default
.bg-img
  background: url('../images/seance-placeholder.jpg')
  background-size: cover
  background-position-y: -310px
  background-repeat: no-repeat
.image-seances
  width: 100%
.list-seances
  padding-left: 20px
footer
  margin-top: 20px

@media only screen and (max-width: 992px) {
    .bg-img {
        background-position-y: 0px
    }
}
