doctype html
html(lang='fr', dir="ltr")
  head
    meta(charset="utf-8")
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" href="../css/bootstrap.min.css")
    link(rel="stylesheet" href="../css/template.css")
    link(rel="stylesheet" href="../css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet")
  body
    != partial("../partials/_header")
    != yield
    != partial("../partials/_footer")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
