main.container(role='main')
  .row
    .col-md-8.blog-main      
      img.image-seances(src="../images/seance-placeholder-2.jpg")
      h1.mt-3 Les séances de la SMP
      p Le champ d’étude de la SMP est consacré au psychisme humain et à ses troubles, à leur prévention et la recherche ainsi qu’aux apports des disciplines connexes. Les grandes découvertes (notamment les premières publications sur les neuroleptiques) et les principaux courants de la connaissance psychiatrique française, voire internationale, sont issus de ses activités. Tous ses travaux sont colligés dans sa revue les Annales Médico-Psychologiques.
      p La Société se réunit une fois par mois, de septembre à juin. Elle organise également chaque année une ou plusieurs séances solennelles thématiques, ainsi qu’une réunion à l’étranger. Ainsi elle s’est déjà déplacée en différents pays d’Europe, d’Amérique du Nord et du Sud, et du Maghreb. Elle contribue, par ses contacts permanents avec l’étranger, à la pérennité de la psychiatrie française dans le monde.
      h2 Séances 2019
      ul.list-seances
        li
          a(href="/seances/assemblee-generale-janvier-2019" title="Assemblée Générale janvier 2019") 28 janvier 2019 : Assemblée générale et communications libres
        li 
          a(href="/seances/intestin-cerveau-et-psychisme" title="Séance thématique : Intestin, cerveau et psychisme") 25 février 2019 : Séance thématique : Intestin, cerveau et psychisme. Coordonnée par Jean Pierre Luauté
        li 
          a(href="/seances/mars-2019-communications-libres" title="Communications Libres du 18 mars 2019") 18 mars 2019 : Communications libres
        li 
          a(href="/seances/psychiatrie-legale" title="Séance thématique : Psychiatrie légale (coordonnée par Thierry Pham)") 29 avril 2019 : Séance thématique : Psychiatrie légale. Coordonnée par Thierry Pham
        li 
          span 
            strong 27 mai 2019 : 
            | Communications libres
        li
          span 
            strong 17 juin 2019 : 
            | Séance du président : Pathologie et Art thérapie
        li 
          span 
            strong 23 septembre : 
            | Séance thématique : l’Expertise. Coordonnée par Marc Schweitzer
        li 
          span 
            strong 21 octobre 2019 : 
            | Séance d'hommage au Professeur Marc Bourgeois. Coordonnée par Marc Masson
        li 
          span 
            strong 25 novembre 2019 : 
            | Séance thématique : la Pédopsychiatrie
        li 
          span 
            strong 16 décembre 2019 : 
            | Assemblée générale et communications libres
      h2 Séances 2018
      ul.list-seances
        for seance, slug in public.seances._data
          li 
            a(href="/seances/#{ slug }" title=seance.title)
              span= seance.date
              span  : 
              span= seance.title
